<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dnm.logs" type="DotNetMigrations.Core.Provider.ConfigurableTypeSection, DotNetMigrations.Core" />
  </configSections>
  <appSettings>
    <!-- migrateFolder is the path to where your migration scripts are stored. -->
    <add key="migrateFolder" value=".\migrations" />
    <!-- logFullErrors should be 'true' or 'false' whether
         you want the stack traces logged or just the messages.
         Default is 'false'. -->
    <!-- versionStrategy must be either 'utc_time', 'local_time', 'seq_num'.
         'utc_time' is recommended for most accurate versioning.  -->
    <add key="versionStrategy" value="utc_time" />
    <add key="logFullErrors" value="false" />
    <!-- enableNewScript shows a panel in the migrations view for creating a new script with the gui.
					Allows disabling for deployments.  Primarily used during development. -->
    <add key="enableNewScriptPanel" value="true" />
    <!-- calls out which script modifiers to execute before applying to the database.-->
    <!--<add key="activeScriptPreprocessors" value="alphaDatabase" /> -->
    <!--<add key="OutputSql" value="True"/>-->
		<add key="Environment" value="CentevaDev"/>
	</appSettings>
	<connectionStrings>
		<add name="Cad" connectionString="data source=10.6.110.55\VA;initial catalog=Cad;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
		<add name="Care" connectionString="data source=10.6.110.55\VA;initial catalog=Care;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
		<add name="DocServerFileStore" connectionString="data source=10.6.110.55\VA;initial catalog=DocServerFileStore;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
		<!-- <add name="Ecert" connectionString="data source=HQDB06;initial catalog=oas_prod_OAS_ECERT;integrated security=True;MultipleActiveResultSets=True;App=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" /> -->
		<add name="Epic" connectionString="data source=10.6.110.55\VA;initial catalog=Epic;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
		<add name="ReportData" connectionString="data source=10.6.110.55\VA;initial catalog=ReportData;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="Voa" connectionString="data source=10.6.110.55\VA;initial catalog=Voa;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    		<add name="OASShared" connectionString="data source=localhost;initial catalog=OASShared;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    		<add name="eCOR" connectionString="data source=localhost;initial catalog=ECOR;integrated security=True;multipleactiveresultsets=True;application name=DataMigrations;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<dnm.logs>
		<parts>
			<part type="DotNetMigrations.Loggers.ConsoleLog, DbMigrator"/>
		</parts>
	</dnm.logs>
	<!--====================================================
  The below section is put into place to tell .Net to look
  for assembly references in the specified directory if
  it cannot find the assembly in the same directory as
  the executable. The directory should point to the same
  location as the pluginFolder value above so commands
  and logs don't have to be in diffeent places.
  ======================================================-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
        IMPORTANT!
        privatePath should match the value of the pluginFolder appSetting above.
        -->
      <probing privatePath="plugins;" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>